<div class="container-lg px-4" style="margin-top:100px;">
    <div class="row">
      <div class="col-md-4 box-shadow" *ngFor="let category of amCategories">
        <div class="p-3 card border bg-light">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{category}}</h4>
          </div>
          <div class="card-body">
            <img class="img-fluid mb-4" [src]="amGetCategoryImage(category)" alt="{{category}}">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="amNavigateToCategory(category)">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>